@font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url('../fonts/proxima_nova_semibold-webfont.eot');
    src: url('../fonts/proxima_nova_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_semibold-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_semibold-webfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_semibold-webfont.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_alt_cn_rgbold';
    src: url('../fonts/proxima_nova_alt_condensed_bold-webfont.eot');
    src: url('../fonts/proxima_nova_alt_condensed_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_alt_condensed_bold-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_alt_condensed_bold-webfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_alt_condensed_bold-webfont.svg#proxima_nova_alt_cn_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_alt_condensedLt';
    src: url('../fonts/proxima_nova_alt_condensed_light-webfont.eot');
    src: url('../fonts/proxima_nova_alt_condensed_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_alt_condensed_light-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_alt_condensed_light-webfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_alt_condensed_light-webfont.svg#proxima_nova_alt_condensedLt') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../fonts/proxima_nova_bold-webfont.eot');
    src: url('../fonts/proxima_nova_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_bold-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_bold-webfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_ltlight';
    src: url('../fonts/proxima_nova_light-webfont.eot');
    src: url('../fonts/proxima_nova_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_light-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_light-webfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_light-webfont.svg#proxima_nova_ltlight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/proxima_nova_regular-webfont.eot');
    src: url('../fonts/proxima_nova_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_regular-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_regular-webfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}